<header class="{{if this.blur 'blur-background'}}" data-theme="dark">
    <div class="container">
        <h2 class="page-title">
            <LinkTo @route="books">Our Awesome Bookstore</LinkTo>
        </h2>
        <span role="button" class="toggle" {{on "click" this.toggleDarkLightTheme}} />
    </div>
</header>

<div class="container {{if this.blur 'blur-background'}}" data-theme="dark">
    {{outlet}}
</div>