<h3>{{@model.name}}</h3>

<strong>Biography</strong>: {{@model.bio}}

<h4>Published titles:</h4>
<ul>
  {{#each @model.books as |book|}}
      <BookCover @book={{book}} @blurBackground={{route-action "blurBackground"}}/>
  {{/each}}
</ul>