<div class="section-header">
    <h2><span>Highlighted Author</span>{{@model.name}}</h2>
</div>

{{#if @model.bio}}
    <div class="author__biography">
      {{@model.bio}}
    </div>
{{/if}}

<h4>Published titles:</h4>
<div class="books">
  {{#each @model.books as |book|}}
      <BookCover @book={{book}} @blurBackground={{route-action "blurBackground"}}/>
  {{/each}}
</div>