{{#if this.showAll}}
  <button type="button" {{on "click" (route-action "toggleShowAll")}}>Show All</button>
{{/if}}

<ul>
  {{#each this.model as |book|}}
    <BookCover @book={{book}} @blurBackground={{route-action "blurBackground"}}/>
  {{/each}}
</ul>